@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Bu site asp.net mvc ödevi için hazırlanmıştır. </p>
<body>
    <img src="~/Content/images/ekin.jpg" /> <br />
    
        <a href="http://www.google.com">google'da bir şeyler ara!</a>
    </body>
