@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>
        Ekinmoral.com
    </title>
</head>

<body style="color:orange">
    <p text-align="center">
      <h4>EKİN MORAL - CV </h4>
    </p>

<pre>
EKİN MORAL
 Adress  
Yayla Mah. 20/11 <br>
Etlik/Keçiören/Ankara
Tel(mobile): (543) 667 46 25
E-mail: eknmrl@gmail.com  
Education Info
2011-Present Yıldırım Beyazıt University, Ankara
Bachelor, Computer Engineering
CGPA: 2,95/4,00
2007-2011 Samsun Atatürk Anatolian High School
Experience
	2014 Nilaccra Bilişim
I involved in two projects: coding and design of scientific calculator application on Android platform, and preparation of Library Management Application using SQL Lite on Android.
Events & Workshops
•	Business Management
•	BELTEK – Vocational Training
Projects & Researches
•	Ergonomics and Aesthetics	
•	Coding and Design of Smart Calculator in Java with NetBeans
•	Feasibility Study – Software Engineering Company
•	Library Management System on NetBeans
Computer Programs
•	MS Office Programs (Including Word, Excel, PowerPoint)
•	Java
•	C
•	C++
•	Data Structures in Java
•	SQL
Electronic Programs
•	MultiSIM
Language
•	English-Advanced
Skills
Ergonomics, Digital Design, Basic Programming, Computer System Architecture
Social Activities and Interests
•	YBU Ar-Ge Club/Member
•	Books, Psychology, Movies, Cooking
Individual Characteristics: Responsible, Disciplined, Hardworking, Good at Team Work, Persistent
</pre>

</body>


</html>
